<div fxLayout="column" fxLayoutAlign="center center" class="background content">
  <div
    class="content"
    fxLayout="row"
    fxLayout.lt-md="column"
    fxLayoutAlign="space-around center"
  >
    <div>
      <h1>Covid Info</h1>
      <p>
        Ut mollis eu ante vel cursus. Duis nec tristique tellus. Vivamus nec
        elit consequat, maximus leo eu, semper dolor. In blandit urna nec
        viverra rhoncus. Donec iaculis sem pharetra tellus posuere, et sagittis
        magna pellentesque. Nam malesuada a dolor ut malesuada. Nullam semper
        arcu at volutpat porttitor. Nunc id est eu diam rhoncus ornare. Donec
        rutrum tellus eget sem consequat feugiat. Vivamus ac elit dictum,
        eleifend nulla eu, iaculis mi. Nam porta lacus vitae purus blandit
        tempor. Vestibulum laoreet venenatis malesuada. Integer ornare lobortis
        lacus eget fermentum.
      </p>
      <!--      <h1>{{ values.title }}</h1>-->
      <!--      <p>{{ values.description }}</p>-->
    </div>
    <div>
      <img class="img" src="assets/covid.svg" alt="covid mask">
    </div>
  </div>
</div>
