.icon {
  width: 96px;
  height: 96px;
}

.container {
  position: relative;
}

.close_button {
  position: absolute;
  top: 0;
  right: 0;
}

.browsers {
  width: 100%;
}

a {
  color: initial;
  text-decoration: initial;
}
