// Import material theming functions
@use '@angular/material' as mat;

// Copy the palettes from your selected theme (usually theme.scss).
$app-primary: mat.define-palette(mat.$blue-gray-palette);
$app-accent: mat.define-palette(mat.$indigo-palette, 200);
$app-warn: mat.define-palette(mat.$red-palette);

// Create your Sass color vars (will be available in all the project)
$primary: mat.get-color-from-palette($app-primary);
$accent: mat.get-color-from-palette($app-accent);
$warn: mat.get-color-from-palette($app-warn);
$max-content-width: 1200px;
$warning-gradient-start: #f44336;
$warning-gradient-finish: #ff9800;
$backdrop-browser-gradient-start: #03a9f4;
$backdrop-browser-gradient-finish: #e1f5fe;
$html-body-color: #d4dae8;
$text-color-light: #fff;
$text-color-dark: #000;
$branding-color: #d4dae8;
